In [44]:
import pandas as pd
insulin = pd.read_csv('..\github\T1DDataINSULINfixed.csv')
cgm = pd.read_csv('..\github\T1DDataCGMfixed.csv')
cal = pd.read_csv('..\github\T1DDataCal.csv')

In [45]:
insulin.head()

,Time,Basal Amount (U/h),Bolus Type,Bolus Volume (U),Duration (min),Carbs(g)
0,10/26/2017 8:28,NaN,Normal,5.3,NaN,NaN
1,10/26/2017 10:02,NaN,Normal,1.1,NaN,NaN
2,10/26/2017 12:16,NaN,Normal,4.0,NaN,NaN
3,10/26/2017 12:55,NaN,Normal,5.0,NaN,NaN
4,10/26/2017 18:46,NaN,Normal,3.0,NaN,NaN

In [46]:
insulin['Time'] = pd.to_datetime(insulin['Time'])

In [47]:
insulin.head()

,Time,Basal Amount (U/h),Bolus Type,Bolus Volume (U),Duration (min),Carbs(g)
0,2017-10-26 08:28:00,NaN,Normal,5.3,NaN,NaN
1,2017-10-26 10:02:00,NaN,Normal,1.1,NaN,NaN
2,2017-10-26 12:16:00,NaN,Normal,4.0,NaN,NaN
3,2017-10-26 12:55:00,NaN,Normal,5.0,NaN,NaN
4,2017-10-26 18:46:00,NaN,Normal,3.0,NaN,NaN

In [48]:
cgm.head()

                  Time   Event Type  Glucose Value (mg/dL)
0  2017-10-21T13:24:13  Calibration                   96.0
1  2017-10-21T13:24:35  Calibration                  134.0
2  2017-10-21T13:28:37          EGV                  122.0
3  2017-10-21T13:33:32          EGV                  119.0
4  2017-10-21T13:38:32          EGV                  113.0

In [49]:
cgm['Time'] = pd.to_datetime(cgm['Time'])

In [50]:
cgm.head(10)

                 Time   Event Type  Glucose Value (mg/dL)
0 2017-10-21 13:24:13  Calibration                   96.0
1 2017-10-21 13:24:35  Calibration                  134.0
2 2017-10-21 13:28:37          EGV                  122.0
3 2017-10-21 13:33:32          EGV                  119.0
4 2017-10-21 13:38:32          EGV                  113.0
5 2017-10-21 13:43:32          EGV                  109.0
6 2017-10-21 13:48:32          EGV                  107.0
7 2017-10-21 13:53:32          EGV                  104.0
8 2017-10-21 13:58:32          EGV                   99.0
9 2017-10-21 14:03:32          EGV                  100.0

In [51]:
cal.head(20)

                Time  mg/dl
0    10/26/2017 8:28    323
1   10/26/2017 10:02    230
2   10/26/2017 23:29    263
3    10/28/2017 1:56    216
4   10/28/2017 11:40    197
5   10/29/2017 11:31    282
6   10/29/2017 22:56    453
7     11/1/2017 0:27    266
8    11/1/2017 12:25    182
9     11/2/2017 0:44    246
10   11/2/2017 23:33    316
11   11/4/2017 10:38    207
12   11/4/2017 23:14    275
13   11/5/2017 11:54    173
14   11/5/2017 16:28    393
15   11/5/2017 19:23    324
16   11/5/2017 23:21    221
17    11/6/2017 9:08    196
18   11/6/2017 23:17    251
19   11/6/2017 23:58    261

In [62]:
T1D = cgm.append([insulin, cal])

In [63]:
T1D

,Basal Amount (U/h),Bolus Type,Bolus Volume (U),Carbs(g),Duration (min),Event Type,Glucose Value (mg/dL),Time,mg/dl
0,NaN,NaN,NaN,NaN,NaN,Calibration,96.0,2017-10-21 13:24:13,NaN
1,NaN,NaN,NaN,NaN,NaN,Calibration,134.0,2017-10-21 13:24:35,NaN
2,NaN,NaN,NaN,NaN,NaN,EGV,122.0,2017-10-21 13:28:37,NaN
3,NaN,NaN,NaN,NaN,NaN,EGV,119.0,2017-10-21 13:33:32,NaN
4,NaN,NaN,NaN,NaN,NaN,EGV,113.0,2017-10-21 13:38:32,NaN
5,NaN,NaN,NaN,NaN,NaN,EGV,109.0,2017-10-21 13:43:32,NaN
6,NaN,NaN,NaN,NaN,NaN,EGV,107.0,2017-10-21 13:48:32,NaN
7,NaN,NaN,NaN,NaN,NaN,EGV,104.0,2017-10-21 13:53:32,NaN
8,NaN,NaN,NaN,NaN,NaN,EGV,99.0,2017-10-21 13:58:32,NaN
9,NaN,NaN,NaN,NaN,NaN,EGV,100.0,2017-10-21 14:03:32,NaN
10,NaN,NaN,NaN,NaN,NaN,EGV,103.0,2017-10-21 14:08:32,NaN
11,NaN,NaN,NaN,NaN,NaN,EGV,108.0,2017-10-21 14:13:32,NaN
12,NaN,NaN,NaN,NaN,NaN,EGV,113.0,2017-10-21 14:18:32,NaN
13,NaN,NaN,NaN,NaN,NaN,EGV,118.0,2017-10-21 14:23:32,NaN
14,NaN,NaN,NaN,NaN,NaN,EGV,113.0,2017-10-21 14:28:32,NaN
15,NaN,NaN,NaN,NaN,NaN,EGV,111.0,2017-10-21 14:33:32,NaN
16,NaN,NaN,NaN,NaN,NaN,EGV,102.0,2017-10-21 14:38:32,NaN
17,NaN,NaN,NaN,NaN,NaN,EGV,93.0,2017-10-21 14:43:32,NaN
18,NaN,NaN,NaN,NaN,NaN,EGV,88.0,2017-10-21 14:48:32,NaN
19,NaN,NaN,NaN,NaN,NaN,EGV,87.0,2017-10-21 14:53:32,NaN
20,NaN,NaN,NaN,NaN,NaN,EGV,80.0,2017-10-21 14:58:33,NaN
21,NaN,NaN,NaN,NaN,NaN,EGV,78.0,2017-10-21 15:03:32,NaN
22,NaN,NaN,NaN,NaN,NaN,EGV,85.0,2017-10-21 15:08:32,NaN
23,NaN,NaN,NaN,NaN,NaN,EGV,81.0,2017-10-21 15:13:32,NaN
24,NaN,NaN,NaN,NaN,NaN,EGV,82.0,2017-10-21 15:18:32,NaN
25,NaN,NaN,NaN,NaN,NaN,EGV,88.0,2017-10-21 15:23:32,NaN
26,NaN,NaN,NaN,NaN,NaN,EGV,86.0,2017-10-21 15:28:32,NaN
27,NaN,NaN,NaN,NaN,NaN,EGV,90.0,2017-10-21 15:33:32,NaN
28,NaN,NaN,NaN,NaN,NaN,EGV,91.0,2017-10-21 15:38:33,NaN
29,NaN,NaN,NaN,NaN,NaN,EGV,92.0,2017-10-21 15:43:32,NaN
...,...,...,...,...,...,...,...,...,...
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/5/2018 11:55,221.0
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/7/2018 4:01,298.0
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/7/2018 19:59,246.0
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/8/2018 12:45,235.0
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/9/2018 8:28,321.0
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/10/2018 16:27,214.0
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/11/2018 8:28,325.0
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/11/2018 13:24,177.0
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/12/2018 0:07,211.0
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/12/2018 12:57,201.0
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/14/2018 10:34,216.0
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/14/2018 12:55,287.0
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/14/2018 13:18,91.0
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/14/2018 19:43,141.0
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/14/2018 22:19,231.0
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 0:28,258.0
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 11:29,237.0
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 18:10,211.0
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 20:32,251.0
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 20:38,80.0
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 21:12,78.0
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/15/2018 23:21,296.0
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/16/2018 8:52,217.0
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/16/2018 12:46,164.0
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/16/2018 18:27,261.0
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/17/2018 8:18,291.0
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/17/2018 18:50,161.0
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/17/2018 23:00,221.0
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/18/2018 8:26,245.0
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/18/2018 18:43,218.0

In [64]:
T1D.to_csv('..\github\T1DData.csv')